@import "../variables";

.member-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 20px;
  border-bottom: 1px solid $gray-200;
  cursor: pointer;
  transition: 0.2s all ease;
  position: relative;

  &:hover {
    background: $gray-100;
  }
  .admin-tag {
    right: 0;
    position: absolute;
    top: 22px;
  }
}

.member-detail {
  width: 100%;
  padding: 0 20px;

  p {
    color: $gray-500;
  }
}
