.team-card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.team-list {
  width: 100%;
  height: 568px;
  overflow: auto;
  .ant-empty {
    margin-top: 50%;
  }
}
